/* Navbar */
.navbar-brand {
    font-family: Viga;
    font-size: 30px;
}

.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

.btn {
    background-color: #45526c;
    text-decoration-color: #ffff;
}

.dropdown {
    float: left;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-item {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.warna {
    color: rgb(255, 255, 255);
}

.warna:hover {
    color: rgb(255, 255, 255);
}

/* Desktop Version */

@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 5px;
    }

    .nav-link:hover:after {
        content: '';
        display: block;
        border-bottom: 3px solid #45526c;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}